body { 
  background: url(/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
    margin-top: 5px;
}

.matchup {
	font-size:2.4em;
}

.score {
	font-size:3.5em;
}

.tweet {
    margin-top: 30px;
}

.twitter-user {
	font-weight: bold;
	display: block;
}

.panel-title {
    font-weight: 700;
}

.commentary-body {
    padding: 5px;
    margin-bottom:25px;
}

/* Set competition background */
.uefa-champions-league .panel-heading {
    background-color: #FFD700;
}

.uefa-europa-league .panel-heading {
    background-color: #CC6633;
}

.fa-cup .panel-heading {
    background-color: #006699;
}

.premier-league .panel-heading {
    background-color: #0080FF;
}

.ligue-1 .panel-heading {
    background-color: #8000FF;
}

.bundesliga .panel-heading {
    background-color: #FF0000;
}

.serie-a .panel-heading {
    background-color: #0000FF;
}

.eredivisie .panel-heading {
    background-color: #FF8000;
}

.primeira-liga .panel-heading {
    background-color: #00FF40;
}

.primera-división .panel-heading {
    background-color: #FF0080;
}

.uefa-champions-league .commentary-body {
    border-top: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
}
.uefa-europa-league .commentary-body {
    border-top: 2px solid #CC6633;
    border-bottom: 2px solid #CC6633;
}
.fa-cup .commentary-body {
    border-top: 2px solid #006699;
    border-bottom: 2px solid #006699;
}
.premier-league .commentary-body {
    border-top: 2px solid #0080FF;
    border-bottom: 2px solid #0080FF;
}
.ligue-1 .commentary-body {
    border-top: 2px solid #8000FF;
    border-bottom: 2px solid #8000FF;
}
.bundesliga .commentary-body {
    border-top: 2px solid #FF0000;
    border-bottom: 2px solid #FF0000;
}
.serie-a .commentary-body {
    border-top: 2px solid #0000FF;
    border-bottom: 2px solid #0000FF;
}
.eredivisie .commentary-body {
    border-top: 2px solid #FF8000;
    border-bottom: 2px solid #FF8000;
}
.primeira-liga .commentary-body {
    border-top: 2px solid #00FF40;
    border-bottom: 2px solid #00FF40;
}
.primera-división .commentary-body {
    border-top: 2px solid #FF0080;
    border-bottom: 2px solid #FF0080;
}

.uefa-champions-league .away {
    border-right: 1px solid #FFD700;
}
.uefa-europa-league .away {
    border-right: 1px solid #CC6633;
}
.fa-cup .away {
    border-right: 1px solid #006699;
}
.premier-league .away {
    border-right: 1px solid #0080FF;
}
.ligue-1 .away {
    border-right: 1px solid #8000FF;
}
.bundesliga .away {
    border-right: 1px solid #FF0000;
}
.serie-a .away {
    border-right: 1px solid #0000FF;
}
.eredivisie .away {
    border-right: 1px solid #FF8000;
}
.primeira-liga .away {
    border-right: 1px solid #00FF40;
}
.primera-división .away {
    border-right: 1px solid #FF0080;
}

.uefa-champions-league .events {
    border-left: 1px solid #FFD700;
}
.uefa-europa-league .events {
    border-left: 1px solid #CC6633;
}
.fa-cup .events {
    border-left: 1px solid #006699;
}
.premier-league .events {
    border-left: 1px solid #0080FF;
}
.ligue-1 .events {
    border-left: 1px solid #8000FF;
}
.bundesliga .events {
    border-left: 1px solid #FF0000;
}
.serie-a .events {
    border-left: 1px solid #0000FF;
}
.eredivisie .events {
    border-left: 1px solid #FF8000;
}
.primeira-liga .events {
    border-left: 1px solid #00FF40;
}
.primera-división .events {
    border-left: 1px solid #FF0080;
}

.home-events {
    text-align: left;
}

.away-events {
    text-align: right;
}

.events img {
    height: 20px;
    width: 20px;
}

.minute, .result {
    font-weight: 700;
}

.assist {
    display: block;
}